@use "../abstracts" as *;

// Génère les variables CSS à partir d'une map de thème
// Exemple : (bg: #fff) -> --bg: #fff;
@mixin export-theme-vars($theme) {
	@each $name, $value in $theme {
		--#{$name}: #{$value};
	}
}

/** Thème par défaut : light **/
:root { @include export-theme-vars($theme-light); }
/** Thème clair explicite **/
[data-theme='light'] { @include export-theme-vars($theme-light); }
/** Thème sombre **/
[data-theme='dark'] { @include export-theme-vars($theme-dark); }



body {
	background: var(--bg);
	transition: background .2s linear;
}

.sr-only {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}