// Neutrals (light base)
$color-bg: #fff;

// Neutrals (dark base)
$color-bg-dark: #292c35;

// Typography
$font-family-base: system-ui, -apple-system, "BlinkMacSystemFont", "SF Pro Text", "Segoe UI", sans-serif;

// ===========
// THEME MAPS
// ===========

$theme-light: (
	bg: $color-bg,
);

$theme-dark: (
	bg: $color-bg-dark,
);
