$radius: 5px;

// Light
$sky-light-1: #46567d;
$sky-light-2: #def3f8;
$milk: #fff;


// Dark
$sky-dark-1: #29323c;
$sky-dark-2: #485563;
$dark: #333;
$toffee: #f4af57;

// Typography
$font-family-base:
	system-ui,
	-apple-system,
	"BlinkMacSystemFont",
	"SF Pro Text",
	"Segoe UI",
	sans-serif;

// ===========
// THEME MAPS
// ===========

$theme-light: (
	app-bg-1: $sky-light-1,
	app-bg-2: $sky-light-2,
	title: $milk,
	author: $sky-light-1,
	quotes: $sky-light-1,
	card-bg: $milk,
	card-border: $sky-light-1,
	card-text: $dark,
	btn-border: $sky-light-1,
	btn-bg: $sky-light-1,
	btn-text: $milk,
	btn-bg-hover: $dark,
	btn-text-hover: $milk,
);

$theme-dark: (
	app-bg-1: $sky-dark-1,
	app-bg-2: $sky-dark-2,
	title: $toffee,
	author: $toffee,
	quotes: $toffee,
	card-bg: $dark,
	card-border: $toffee,
	card-text: $milk,
	btn-border: $toffee,
	btn-bg: transparent,
	btn-text: $toffee,
	btn-bg-hover: $toffee,
	btn-text-hover: $dark,
);
